.html_culinary_col {
    .culinary_col9_products {
        h1 {
            font-family: 'Roboto bold';
            font-size: 32px;
            line-height: 38px;
            color: #333333;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 150.19%;
            color: #4F4F4F;
            margin-bottom: 20px;
        }

        img {
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            margin-bottom: 27px;
        }

        .admin {
            text-align: right;
            margin: 30px 0;
            font-size: 16px;
            line-height: 150.19%;
            color: #4F4F4F;
        }

        .page_share {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0;
            margin-bottom: 22px;
            border-top: 0.919463px solid #E0E0E0;
            border-bottom: 0.919463px solid #E0E0E0;
    
            img {
                margin: 0;
                border-radius: 0;
            }
    
            .post_published_date {
                display: flex;
                align-items: center;
                font-size: 16px;
                color: #828282;
    
                svg {
                    margin-right: 7px;
                }
            }
    
            .post_share {
                display: flex;
                align-items: center;
    
                .share {
                    margin-left: 7px;
                }
            }
        }
    }

    .html_col12_relate {
        padding: 75px 0;

        h2 {
            font-family: 'Roboto bold';
            text-transform: uppercase;
            color: #333333;
            margin-bottom: 20px;
        }

        .single-product {
            .image-item {
                margin-bottom: 14px;
            }

            .detail-item {
                h3 {
                    margin-bottom: 8px;
                }

                .item-star {
                    margin-bottom: 12px;
                }
            }
        }
    }

    .html_col3_menu {
        overflow: hidden;
        margin-bottom: 25px;
    }

    .html_col3_new_outstanding {
        h2 {
            font-family: 'Roboto bold';
            text-transform: uppercase;
            color: #333333;
            margin-bottom: 16px;
        }
    }
}



// responsive

@media (max-width: 1699px) {
}

@media (max-width: 1460px) {
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
    .html_culinary_col {
        .html_col12_relate {
            padding: 60px 0;
        }
    }
}

@media (max-width: 991px) {
    .html_culinary_col {
        .html_col3_menu {
            display: none;
        }

        .html_col12_relate {
            padding: 40px 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .html_culinary_col {
        .culinary_col9_products {
            h1 {
                font-size: 28px;
                line-height: 32px;
                margin-bottom: 18px;
            }
    
            p {
                font-size: 15px;
                margin-bottom: 16px;
            }
    
            img {
                margin-bottom: 20px;
            }
    
            .admin {
                margin: 20px 0;
                font-size: 15px;
            }    
        
            .page_share {
                padding: 16px 0;
                zoom: .8;
            }
        }
    }
}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 460px) {

}

@media screen and (max-width: 400px) {
    .html_culinary_col {
        .culinary_col9_products {
            h1 {
                font-size: 22px;
                line-height: 24px;
                margin-bottom: 15px;
            }
    
            p {
                font-size: 14px;
                margin-bottom: 12px;
            }
    
            img {
                margin-bottom: 16px;
            }
    
            .admin {
                margin: 15px 0;
                font-size: 14px;
            }
        
            .page_share {
                zoom: .6;
            }
        }
    }
}

@media screen and (max-width: 375px) {
}