#main {
    background: #f6f6f6;
}

.html_book_col {
    .content_book {
        padding: 30px 30px 0px 30px;
        margin-bottom: 75px;
        border-radius: 15px;
        overflow: hidden;
        background-color: #ffffff;

        .item_products {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 40px;

            .thumbnail-images {
                width: 50%;
                padding: 0 15px;
                overflow: hidden;
            }

            .images {
                width: 100%;
                border-radius: 10px;
                padding-top: 60%;
                position: relative;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    overflow: hidden;
                    transform: translate(-50%, -50%);
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .detail {
                width: 50%;
                padding: 0 15px;

                h3 {
                    font-family: "Roboto bold";
                    color: #333333;
                    margin-bottom: 10px;
                }

                .item_review {
                    display: flex;
                    align-items: center;
                    margin-bottom: 18px;

                    .star {
                        margin-right: 9px;

                        .fa-star {
                            color: #e0e0e0;
                            font-size: 12px;
                            vertical-align: 0;

                            &.active {
                                color: #f2c94c;
                            }
                        }
                    }

                    span {
                        font-size: 14px;
                        line-height: 150.36%;
                        color: #828282;
                    }
                }

                .price {
                    font-family: "Roboto bold";
                    color: #0274b6;
                    margin-bottom: 12px;
                }

                .tab_list {
                    tr {
                        color: #4f4f4f;
                        text-align: justify;

                        th,
                        td {
                            padding-bottom: 20px;
                            font-size: 16px;
                            line-height: 150%;
                        }

                        td {
                            padding-left: 40px;
                        }

                        &:last-child {
                            th,
                            td {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .group_flex_pro {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -30px;

            .group_detail {
                padding: 0 30px;
            }

            .group-col7 {
                width: 65%;
            }

            .group-col3 {
                width: 35%;
            }
        }

        .group_detail {
            margin-bottom: 50px;

            h3 {
                font-family: "Roboto bold";
                text-transform: uppercase;
                color: #333333;
                margin-bottom: 20px;
            }

            .table {
                width: 100%;
                border-spacing: 0;
                border-left: 1px solid #e0e0e0;
                border-top: 1px solid #e0e0e0;

                tr {
                    width: 100%;

                    &.background {
                        th {
                            background: #fcf7f0;
                        }
                    }

                    th {
                        padding: 18px 15px;
                        border-bottom: 1px solid #e0e0e0;
                        border-right: 1px solid #e0e0e0;
                        text-align: center;
                        font-size: 16px;
                        line-height: 150%;
                        color: #4f4f4f;
                    }

                    td {
                        padding: 18px 15px;
                        border-bottom: 1px solid #e0e0e0;
                        text-align: center;
                        font-size: 16px;
                        line-height: 150%;
                        color: #4f4f4f;
                        border-right: 1px solid #e0e0e0;
                    }

                    .price {
                        font-family: "Roboto bold";
                        font-size: 20px;
                        line-height: 150%;
                        display: flex;
                        color: #0274b6;
                        justify-content: center;
                        width: 282.5%;
                    }
                }
            }

            .contact_information {
                form {
                    margin-bottom: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    p {
                        color: #4f4f4f;
                    }

                    .form-group {
                        width: 49%;
                        border-radius: 5px;
                        margin-bottom: 20px;
                        overflow: hidden;

                        h3 {
                            font-family: "Roboto bold";
                            color: #4F4F4F;
                            margin-bottom: 11px;
                            text-transform: none;

                            span {
                                color: #D80001;
                            }
                        }

                        .filing {
                            width: 100%;
                            height: 45px;
                            padding: 0 12px;
                            background: #ffffff;
                            border: 0.5px solid #E0E0E0;
                            border-radius: 5px;
                            overflow: hidden;
                        }

                        select,
                        input,
                        textarea {
                            width: 100%;
                            height: 100%;
                            outline: 0;
                            font-size: 16px;
                            color: #333333;

                            &::placeholder {
                                color: #828282;
                            }

                            &::-webkit-calendar-picker-indicator {
                                filter: invert(60%);
                                zoom: 1.2;
                            }
                        }

                        input[type="date"],
                        select {
                            color: #828282;

                            &:focus {
                                opacity: 1;
                            }
                        }

                        .fil-textar {
                            height: auto;

                            textarea {
                                padding-top: 12px;
                            }
                        }
                    }

                    .form-file {
                        width: 100%;
                        padding-top: 20px;
                        margin-bottom: 0;
                    }
                }

                .butt {
                    width: 244px;
                    height: 51px;
                    margin: auto;
                    border-radius: 5px;
                }
            }

            .chose {

                label {
                    input {
                        display: none;
                    }

                    input[type=checkbox]:checked+.dasic {
                        &::before {
                            border: 1px solid var(--color1);
                        }
                        &:after {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    .dasic {
                        position: relative;
                        cursor: pointer;
                        font-size: 16px;
                        line-height: 19px;
                        font-family: 'Roboto medium';
                        color: #4F4F4F;
                        display: flex;

                        &:before {
                            content: "";
                            min-width: 25px;
                            max-width: 25px;
                            height: 25px;
                            border: 1px solid #BDBDBD;
                            margin-right: 7px;
                            box-sizing: border-box;
                            border-radius: 50%;
                            background: var(--white);
                            box-shadow: inset 0 1px 3px rgb(0 0 0 / 10%), 0 0 0 rgb(203 34 237 / 20%);
                            transition: all 0.275s;
                        }

                        &:after {
                            visibility: hidden;
                            opacity: 0;
                            content: "";
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            border-radius: 50%;
                            width: 15px;
                            height: 15px;
                            background: var(--color1);
                            line-height: 0;
                            transition: all 0.2s;
                        }
                    }
                }
            }
        }
    }
}




// responsive

@media (max-width: 1699px) {
}

@media (max-width: 1460px) {
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
    .html_book_col {
        .content_book {
            .item_products {
                .detail {
                    .tab_list {
                        tr {
                            th, td {
                                padding-bottom: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .html_book_col {
        .content_book {
            .item_products {
                .thumbnail-images {
                    width: 100%;
                    margin-bottom: 20px;
                }

                .detail {
                    width: 100%;

                    .tab_list {
                        tr {
                            th, td {
                                padding-bottom: 12px;
                            }
                        }
                    }
                }
            }

            .group_detail {
                .table {
                    tr {
                        th, td {
                            font-size: 15px;
                        }

                        .price {
                            font-size: 18px;
                        }
                    }
                }
            }

            .group_flex_pro {
                .group-col7 {
                    width: 100%;
                    order: 2;
                }

                .group-col3 {
                    width: 100%;
                    order: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .html_book_col {
        .content_book {
            margin-bottom: 60px;

            .item_products {
                .detail {
                    .tab_list {
                        tr {
                            th, td {
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }

            .group_detail {
                margin-bottom: 40px;

                .table {
                    tr {
                        th, td {
                            font-size: 14px;
                            padding: 12px 8px;
                        }

                        .price {
                            font-size: 17px;
                            width: 277.5%;
                        }
                    }
                }

                .contact_information {
                    form {
                        .form-group {
                            width: 100%;

                            select,
                            input,
                            textarea {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .chose {
                    zoom: .9;
                }
            }

            .group_flex_pro {
                .group-col7 {
                    width: 100%;
                    order: 2;
                }

                .group-col3 {
                    width: 100%;
                    order: 1;
                }
            }

            .item_products {
                .detail {
                    .tab_list {
                        tr {
                            th, td {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .html_book_col {
        .content_book {
            border-radius: 0;
            margin: 0 -15px;
        }
    }
}

@media screen and (max-width: 500px) {
    .html_book_col {
        .content_book {
            padding: 15px 15px 0px 15px;
            margin-bottom: 40px;

            .item_products {
                margin-bottom: 30px;

                .thumbnail-images {
                   margin-bottom: 12px;
                }

                .detail {
                    .item_review {
                        margin-bottom: 10px;
                    }
                }
            }

            .group_detail {
                margin-bottom: 30px;

                .contact_information {
                    form {
                        margin-bottom: 14px;

                        .form-group {
                            margin-bottom: 16px;
                        }

                        .form-file {
                            padding-top: 14px;
                        }
                    }
                }

                h3 {
                    margin-bottom: 16px;
                }

                .table {
                    zoom: .9;
                }

                .chose {
                    zoom: .8;
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .html_book_col {
        .content_book {
            .group_detail {
                .table {
                    zoom: .8;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .html_book_col {
        .content_book {
            .group_detail {
                .table {
                    zoom: .7;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .html_book_col {
        .content_book {
            .group_detail {
                .table {
                    zoom: .6;
                }
            }
        }
    }
}