.html_culinary_col .culinary_col9_products h1 {
  font-family: "Roboto bold";
  font-size: 32px;
  line-height: 38px;
  color: #333333;
  margin-bottom: 20px;
}
.html_culinary_col .culinary_col9_products p {
  font-size: 16px;
  line-height: 150.19%;
  color: #4F4F4F;
  margin-bottom: 20px;
}
.html_culinary_col .culinary_col9_products img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
}
.html_culinary_col .culinary_col9_products .admin {
  text-align: right;
  margin: 30px 0;
  font-size: 16px;
  line-height: 150.19%;
  color: #4F4F4F;
}
.html_culinary_col .culinary_col9_products .page_share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 22px;
  border-top: 0.919463px solid #E0E0E0;
  border-bottom: 0.919463px solid #E0E0E0;
}
.html_culinary_col .culinary_col9_products .page_share img {
  margin: 0;
  border-radius: 0;
}
.html_culinary_col .culinary_col9_products .page_share .post_published_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #828282;
}
.html_culinary_col .culinary_col9_products .page_share .post_published_date svg {
  margin-right: 7px;
}
.html_culinary_col .culinary_col9_products .page_share .post_share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.html_culinary_col .culinary_col9_products .page_share .post_share .share {
  margin-left: 7px;
}
.html_culinary_col .html_col12_relate {
  padding: 75px 0;
}
.html_culinary_col .html_col12_relate h2 {
  font-family: "Roboto bold";
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}
.html_culinary_col .html_col12_relate .single-product .image-item {
  margin-bottom: 14px;
}
.html_culinary_col .html_col12_relate .single-product .detail-item h3 {
  margin-bottom: 8px;
}
.html_culinary_col .html_col12_relate .single-product .detail-item .item-star {
  margin-bottom: 12px;
}
.html_culinary_col .html_col3_menu {
  overflow: hidden;
  margin-bottom: 25px;
}
.html_culinary_col .html_col3_new_outstanding h2 {
  font-family: "Roboto bold";
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 16px;
}

@media (max-width: 1199px) {
  .html_culinary_col .html_col12_relate {
    padding: 60px 0;
  }
}
@media (max-width: 991px) {
  .html_culinary_col .html_col3_menu {
    display: none;
  }
  .html_culinary_col .html_col12_relate {
    padding: 40px 0;
  }
}
@media screen and (max-width: 767px) {
  .html_culinary_col .culinary_col9_products h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 18px;
  }
  .html_culinary_col .culinary_col9_products p {
    font-size: 15px;
    margin-bottom: 16px;
  }
  .html_culinary_col .culinary_col9_products img {
    margin-bottom: 20px;
  }
  .html_culinary_col .culinary_col9_products .admin {
    margin: 20px 0;
    font-size: 15px;
  }
  .html_culinary_col .culinary_col9_products .page_share {
    padding: 16px 0;
    zoom: 0.8;
  }
}
@media screen and (max-width: 400px) {
  .html_culinary_col .culinary_col9_products h1 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .html_culinary_col .culinary_col9_products p {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .html_culinary_col .culinary_col9_products img {
    margin-bottom: 16px;
  }
  .html_culinary_col .culinary_col9_products .admin {
    margin: 15px 0;
    font-size: 14px;
  }
  .html_culinary_col .culinary_col9_products .page_share {
    zoom: 0.6;
  }
}