
.products_list {
  padding-bottom: 75px;
}
.products_list .list_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products_list .col-item-list {
  padding-left: 30px;
}
.products_list .flex_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*margin-left: -17px;*/
  /*margin-right: -17px;*/
  margin-bottom: 10px;
}
.products_list .flex_products .single-product {
  width: 50%;
  padding: 0 17px;
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .products_list .flex_products {
    margin-left: -8px;
    margin-right: -8px;
  }
  .products_list .flex_products .single-product {
    padding: 0 8px;
  }
}
@media (max-width: 991px) {
  .products_list .col-item-list {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .products_list {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 500px) {
  .products_list {
    padding-bottom: 40px;
  }
  .products_list .flex_products .single-product {
    width: 100%;
  }
}